.faq {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 128px;
  margin-bottom: 128px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 52px;
    color: #1E344B;
    font-weight: 400;
    margin-bottom: 48px;

    span {
      color: #9C835C;
    }
  }
}