.hero {
  display: flex;
 // justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;

  &__col {
    flex: 1 1 50%;
    min-height: 100%;

    &--image {
      position: relative;
    }

    &--image img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &--content {
      display: flex;
      flex-direction: column;
      padding: 40px 100px 100px;
      background: #06234F;
    }
  }

  &__nav, &__nav-list {
    width: 100%;
  }

  &__nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
    padding-top: 40px;
    padding-bottom: 40px;

    a {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    
    p {
      font-size: 14px;
      color: #fff;
      
      &:first-child {
        color: #A6AEBA;
        font-weight: 300;
      }
    }
  }

  &__title {
    padding-top: 40px;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    span {
      color: #9C835C;
    }
  }

  &__desc {
    margin-top: 16px;
    color: #A6AEBA;
    font-size: 14px;
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 520px;
    background: #fff;
    border-radius: 50px;
    height: 76px;

    margin-top: 48px;

    font-size: 28px;
    color: #1E344B;
  }
}