.key-metrics {
  margin-top: 40px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    height: 217px;
    padding: 32px;
    border-radius: 24px;

    box-shadow: 0px 3px 8px 0px #0000001A;
    background: #FFFFFF;
  }

  &__value {
    font-size: 64px;
    color: #06234F;
  }

  &__label {
    font-size: 20px;
    color: #5B6570;
  }
}