.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0 0 auto 0;
  width: 100%;
  height: 72px;
  z-index: 10;

  box-shadow: 0px 2px 8px 0px #00000012;
  background: #fff;

  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform .25s ease, opacity .25s ease;

  &--visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger, &__mobile {
    display: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 27px;

    a {
      font-size: 14px;
      color: #06234F;
      text-decoration: none;
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #1E344B;

    font-size: 14px;
    color: #fff;

    padding-left: 28px;
    padding-right: 28px;
    border-radius: 50px;
  }
}
