body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1F1F1;
}

h1, h2, h3, h4 {
  font-family: "Prata", serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}