.benefits {
  width: 100%;
  padding-top: 96px;
  padding-bottom: 74px;
  margin-top: 128px;
  position: relative;
  background: #06234F;

  &__image {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 10%;

    img {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 610px;
    width: 100%;
  }

  &__title {
    font-size: 64px;
    font-weight: 500;
    color: #9C835C;

    span {
      color: #fff;
    }
  }

  &__lead {
    margin-top: 16px;
    font-size: 16px;
    color: #A6AEBA;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    margin-top: 32px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__icon {
    display: flex;
    align-items: center;

    img {
      margin-right: 16px;
    }
  }

  &__card-title {
    font-size: 20px;
    color: #9C835C;
  }

  &__card-text {
    margin-top: 24px;
    font-size: 16px;
    color: #A6AEBA;
  }

  @media (max-width: 768px) {
    &__inner { max-width: 100%; padding: 0 16px; }
    &__grid { grid-template-columns: 1fr; }
  }
}